.listaimg{
    height:90px; 
    width:100px;
    padding-top: 20px;
    
}

.listatext{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    font-size:medium;
}

.listapr{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    font-size:medium;
}
.container {
    text-align: center;
    padding: 50px;
    width: 900px;
    border-collapse: collapse;
    
    
}
.row{
    width: 88%;
    background-color: white;
   text-align: center;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
}
